/* Variables */
:root  {
    /* Texts */
    --text-color: #E0E1DD;
    --text-detail-color: #9E34F5;
    --theme-button-color: #9E34F5;
    /* Backgrounds */
    --background-color1: #050505;
    --background-color2: #080808;
    --background-color3: #090909;
    --background-color4: #121212;
    /* Secondary Color */
    --border-color: #2D0D35;
    --effect-color: #7f18d4;
    --bg-effect-color: #310a3d;
    /* Skills */
    --html-skill: 70%;
    --css-skill: 55%;
    --js-skill: 15%;
}

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;	
    transition: all 0.2s ease-in-out;
    user-select: none;
}

h1, h2, h3, h4, h5, p {
    color: var(--text-color);
    font-family: 'Inconsolata', monospace;
}

body {
    background-color: var(--background-color1);
    width: 100vw;   
    height: 100vh;
}

.main {
    display: flex;
    background-color: var(--background-color1);
    width: 100vw;   
    height: 100vh;
}

/* LeftSide */
.leftside {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 400px;
    height: 100vh; 

    cursor: default;
}

#theme-button {
    position: absolute;
    top: 24px;
    left: 20px;

    color: var(--theme-button-color);
    font-size: 22px;
    transition: 0.3s;
}

#theme-button:hover {
    transform: scale(1.15);
}

.leftside-title {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 40px;
    cursor: default;
}

.leftside-container {
    background-color: var(--background-color2);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

/* About */
.about-container {
    margin-top: 5px;
}

.about-text {
    text-align: center;
    margin: 0 20px;
    line-height: 1.2;
}

.about-text br {
    display: flex;
    content: " ";
    margin-bottom: 10px;
}

.txt-detail {
    font-weight: 700;
    color: var(--text-detail-color);
}

/* Skills */
.skills-container {
    width: 65%;
    margin-top: 10px;
}

.skills {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.skill-name {
    text-align: left;
}

.skill-content {
    width: 100%;
}

.skill-bar {
    background-color: var(--bg-effect-color);
    border-radius: 10px;
    width: 100%;
    height: 8px;
    margin-bottom: 10px;
}

.skill-progressbar {
    background-color: var(--effect-color);
    border-radius: 10px;
    height: 100%;
}

.html {width: var(--html-skill);}
.css {width: var(--css-skill);}
.js {width: var(--js-skill);}

/* Contact Container */
.contact-container {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
}

.social-container {
    display: flex;
    margin: 10px 0;
}

.social-media a {
    background-color: transparent;
    color: var(--effect-color);
    border: 2px solid var(--bg-effect-color);
    border-radius: 10px;
    font-size: 22px;
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;

    transition: 0.2s;
}

.social-media a:hover {
    border-color: var(--effect-color);
    transform: scale(1.1);
    box-shadow: 0 0px 10px var(--effect-color);
}

/* Footer Container */
.footer-container {
    display: inline;
    justify-content: end;
}

/* Right Side */
.rightside {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 100%;
    width: 100%; 

    cursor: default;
}

.rightside-title {
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 40px;
    cursor: default;
}

.rightside-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color2);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.search-container {
    display: flex;
    justify-content: right;
}

#search-label {
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 20px;
    

    border: 2px solid transparent;
    transition: 0.3s;
}

#search-input {
    background-color: var(--background-color4);
    
    border-radius: 10px;
    margin: 10px 10px 10px 0;
    padding-left: 10px;
    
    width: 225px;
    height: 50px;
    border: 2px solid transparent;
    transition: 0.3s;
}

#search-input::placeholder,
#search-input {
    color: var(--text-color);
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

#search-input:focus,
#search-input:valid {
    color: var(--text-color);
}

#search-input:hover {
    border: 2px solid var(--effect-color);
    box-shadow: 0 0 10px var(--effect-color);
    transform: scale(1.025);
}

.projects-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    margin: 10px 0;
}

.projects-folder {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-container::-webkit-scrollbar {
    width: 6px;
}

.projects-container::-webkit-scrollbar-thumb {
    background-color: var(--effect-color);
    border-radius: 5px;
}

.projects-container::-webkit-scrollbar-track {
    background-color: var(--bg-effect-color);
    border-radius: 5px;
}

.project {
    color: var(--text-color);
    width: 475px;
    height: 200px;

    margin: 5px;

    text-decoration: none;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: end;
    flex-direction: column; 

    background-size: 150%;
    background-position: top;
    background-repeat: no-repeat;

    border: 2px solid var(--background-color4);
    transition: 0.3s;
}

.project-info {
    background-color: var(--background-color4);
    width: 100%;
    padding: 5px;

    display: flex;

    flex-direction: column;
}

.project:hover {
    border: 2px solid var(--effect-color);
    box-shadow: 0 0 10px var(--effect-color);
    transform: scale(1.025);
}

/* Responsividade */

@media screen and (max-width: 1024px){
    .project {
        width: 650px;
    }
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .leftside {
        width: 100%;    
    }

    .leftside-container {
        height: auto;
    }

    .social-media a {
        width: 60px;
        height: 60px;
        font-size: 42px;
    }

    .footer-container {
        margin: 20px 0;
    }
    .search-container {
        justify-content: center;
    }

    #search-input {
        width: 60%;
    }
}

@media screen and (max-width: 425px) {
    .project {
        width: 360px;
   }
}

@media screen and (max-width: 375px) {
    .project {
        width: 300px;
   }
}

@media screen and (max-width: 320px) {
    .rightside {
        margin-top: 100px;
    }
}