/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;	
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #050505;
    display: flex;
    justify-content: center;
}

.clipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.clipe {
    width: 600px;
    border-radius: 10px;
    margin: 10px;
    transition: 0.2s;
}

.clipe:hover {
    transform: scale(1.025);
}

iframe {
    border-radius: 10px;
}