/* Import */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500&display=swap');

/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;	
    cursor: default;
    user-select: none;
}

/* Body */
body {
    background: #111111;
    overflow-x: hidden;
}

/* Header / Navbar */
header {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0505055e;
    width: 100%;
}

#navbar a {
    color: #FFF8F4;
    text-decoration: none;
    font-family: 'Khand', sans-serif;
    font-size: 30px;
    margin: 0 20px;
    cursor: pointer;
}

#navbar .active-page {
    color: #D9805A;
}

/* Home Section */
#home {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/Home.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-top: 20vh;
    font-family: 'Kaushan Script', cursive;
    color: #FFF8F4;
    font-size: 250px;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.slogan {
    color: #FFF8F4;
    font-family: 'Khand', sans-serif;
    font-size: 35px;

    display: flex;
    align-items: center;
    justify-content: stretch;
}

.marked-text {
    margin: 0 5px;
    color: #D9805A;
}

/* About Section */

#about {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/About.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.about-text {
    color: #FFF8F4;
    font-family: 'Khand', sans-serif;
    font-size: 25px;
    padding: 80px 0 0 50px;
    max-width: 700px;
}

.about-text br {
    content: '';
    display: flex;
    margin-bottom: 20px;
}

.about-text span {
    color: #FDA17A;
}

/* Menu Section */
#menu {
    width: 100vw;
    height: 100vh;
    background-image: url(../assets/Menu.png);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-title {
    color: #FFF8F4;
    font-size: 50px;
    font-family: 'Khand', sans-serif;
    margin: 20px 0;
}

.menu-items {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.menu-item {
    cursor: pointer;    
    width: 400px;
    height: 400px;
    margin: 0 10px;
    background-size: cover; 
    background-repeat: no-repeat;
    transition: transform 0.5s;
}

.selected-item {
    width: 700px;
    height: 700px;
}

.item-info {
    margin-top: 10px;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s;
}

.item-name {
    font-family: 'Khand', sans-serif;
    font-weight: 500;
    color: #FFF8F4;
    font-size: 40px;
}

.item-desc {
    font-family: 'Khand', sans-serif;
    color: #FFF8F4;
    font-size: 25px;
}

#latte-macchiato {
    background-image: url(../assets/menu/LatteMacchiato.png);
}

#cappuccino {
    background-image: url(../assets/menu/Cappuccino.png);
}

#espresso {
    background-image: url(../assets/menu/Espresso.png);
}